---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export const prerender = true;

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { slug: page.slug },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await page.render();

// Preparazione breadcrumb
const breadcrumbItems = [];

// Formatta il nome della pagina
const getPageName = (title: string) => {
    return title
        .split('-')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
};

const pageName = getPageName(title);
---

<BaseLayout 
    title={seo?.title ?? title} 
    description={seo?.description} 
    image={seo?.image} 
    showHeader={false}
    breadcrumb={{
        items: breadcrumbItems,
        currentPageName: pageName
    }}
>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-4xl sm:leading-tight mb-4 text-main">
                {title}
            </h1>
            {
                seo?.description && (
                    <h2 class="mb-12 text-[rgb(var(--color-text-secondary))] sm:mb-14 text-sm sm:text-base leading-normal pb-6 border-b border-solid border-main w-full">
                        {seo.description}
                    </h2>
                )
            }
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
</BaseLayout>