---
export const prerender = false;
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchComponent from '../components/Search.tsx';
import { getPostsForSearch } from '../utils/content-utils';

const posts = await getPostsForSearch();

const title = "Search";

const metaTags = {
  title: title,
  description: "Search through all the articles on my blog. Just start typing and you're in :)",
  robots: "noindex, follow"
};
---

<BaseLayout title={title} showHeader={false} metaTags={metaTags}>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="text-2xl font-semibold text-main mb-2">{title}</h1>
    </header>
    <div class="max-w-none prose prose-dante sm:prose-lg">
      <SearchComponent client:load posts={posts} />
    </div>
  </article>
</BaseLayout>