---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchComponent from '../components/Search.tsx';

const allPosts = await getCollection('blog');
const posts = allPosts.map((post: CollectionEntry<'blog'>) => ({
  title: post.data.title,
  url: `/blog/${post.slug}`,
  description: post.data.excerpt || '',
  body: post.body
}));

const title = "Search";

const metaTags = {
  title: title,
  description: "Search through all the articles on my blog. Just start typing and you're in :)",
  robots: "noindex, nofollow"
};
---

<BaseLayout title={title} showHeader={false} metaTags={metaTags}>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="text-3xl leading-tight font-serif sm:text-4xl italic mb-4 sm:leading-tight">{title}</h1>
    </header>
    <div class="max-w-none prose prose-dante sm:prose-lg">
      <SearchComponent client:load posts={posts} />
    </div>
  </article>
</BaseLayout>